* {
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  overflow: hidden;
}

.add-form {
  display: flex;
  gap: 1rem;
  background-color: #5604a3;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

.add-form h3 {
  font-size: .8rem;
}

.add-form select,
.add-form input {
  background-color: #a74afe;
  border: none;
  border-radius: .5rem;
  padding: .7rem;
}

.add-form input::placeholder,
.add-form h3,
.add-form select,
.add-form input {
  color: #fff;
}

.add-form .add-btn {
  background-color: #917703;
  color: #fff;
  font-weight: bold;
  border: none;
  padding: .7rem;
  border-radius: .5rem;
  opacity: .9;
  cursor: pointer;
}

.add-form .add-btn:hover {
  opacity: 1;
}

.list {
  background-color: #e6e1b1;
  padding: 2.5rem;
}

.list ul {
  display: flex;
  gap: 1.5rem;
}

.list li {
  display: flex;
  gap: .5rem;
  list-style: none;
}

.list button {
  border: none;
  background-color: #e6e1b1;
  cursor: pointer;
}